@import url(/css/common/reset.css);
@import url(/css/common/adminHeader.css);
@import url(/css/common/leftMenu.css);

#wrap{
    width: 100%;
    /* border: 5px solid #000000; */
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /* gap: 5px; */
  }

.right-menu{
    flex: 1;
    height: auto;
    box-sizing: border-box;
    background-color: #ffffff;
    border-top: 1px solid #dedede;
    /* border: 1px solid #ffff00; */
    padding: 30px;
    padding-left: 330px;
}

.right-menu .container{
    border: 1px solid #dedede;
    box-sizing: border-box;
    height: 600px;
}

.right-menu .container h2{
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
}

.right-menu .right-con{
    height: auto;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}


/* 등록 영역 */
#wrap .right-menu .container .right-con .account-list .btnZone{
    /* border-bottom: 1px solid #878784; */
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    padding-bottom: 10px;
}

.insertBtn{
    border: 1px solid #000000;
    width: 50px;
    text-align: center;
    box-sizing: border-box;
}

/* 리스트 영역 */
#wrap .right-menu .container .right-con .account-list .account-form{
    display: flex;
    justify-content: space-between;
} 

#wrap .right-menu .container .right-con .account-list .account-form table{
    width: 100%;
    text-align: center;
}

/* #wrap .right-menu .container .right-con .account-list .account-form table tr{
    border-bottom: 1px solid #878784;
} */

/* #wrap .right-menu .container .accoright-conunt .account-list .account-form table tr td{
    padding: 5px;
} */

th, td{
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #878784;
    border-top: 1px solid #878784;
}

/* 페이징 영역 */
#wrap .right-menu .container .right-con .account-list .account-page{
    padding-top: 15px;
    box-sizing: border-box;
}

#wrap .right-menu .container .right-con .account-list .account-page ul{
    display: flex;
    justify-content: center;
    gap: 10px;
}

