<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" href="/static/css/common/leftMenu.css">
    <div class="left-menu" th:fragment="leftMenuFragment">
        <div class="left-con">
            <div class="dash-board">
                <h1 class="title">대시보드</a></h1>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">회원정보</a>
                            <ul class="sub">
                                <li>
                                    <a th:href="@{/member/detail}">회원상세</a>
                                </li>
                                <li>
                                    <a th:href="@{/member/update}">회원수정</a>
                                </li>
                                <li>
                                    <a href="#">작성글 관리</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">일정관리</a>
                            <ul class="sub">
                                <li>
                                    <a th:href="@{/attend/attend}">근태 관리</a>
                                </li>
                                <li>
                                    <a th:href="@{/teamSchedule/officialList}">공식 일정</a>
                                </li>
                                <li>
                                    <a th:href="@{/memberSchedule/officialList}">개인 일정</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">결재관리</a>
                            <ul class="sub">
                                <li>
                                    <a th:href="@{/approval/write}">결재서류 작성</a>
                                </li>
                                <li>
                                    <a th:href="@{/approval/list}">결재서류 리스트</a>
                                </li>
                                <li>
                                    <!-- <a th:href="@{/approval/listUpdate}">결재서류 수정</a>-->
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">조직관리</a>
                            <ul class="sub">
                                <li>
                                    <a th:href="@{/member/management}">팀조회</a>
                                </li>
                                <li>
                                    <a href="#">팀수정</a>
                                </li>
                                <li>
                                    <a href="#">팀삭제</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">동호회게시판</a>
                            <ul class="sub">
                                <li>
                                    <a th:href="@{/admin/boardInsert}">게시글추가</a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/boardList}">게시글조회</a>
                                </li>
                                <li>
                                    <a href="#">게시글수정</a>
                                </li>
                                <li>
                                    <a href="#">게시글삭제</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a th:href="@{/account/list}">회계관리</a>
                            <ul class="sub">
                                <li>
                                    <a th:href="@{/account/list}">게시글</a>
                                </li>

                                <li>
                                    <a href="#">잔여금</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="">공지사항</a>
                            <ul class="sub">
                                <li>
                                    <a href="#">공지사항추가</a>
                                </li>
                                <li>
                                    <a href="#">공지사항조회</a>
                                </li>
                                <li>
                                    <a href="#">공지사항수정</a>
                                </li>
                                <li>
                                    <a href="#">공지사항삭제</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="">NAVER API</a>
                            <ul class="sub">
                                <li>
                                    <a href="">Naver login</a>
                                </li>
                                <li>
                                    <a href="">Naver Object</a>
                                </li>
                                <li>
                                    <a href="">Naver Mail</a>
                                </li>
                            </ul>
                        </li>
                        <li sec:authorize="hasRole('ADMIN')">
                            <a href="#">관리자 메뉴</a>
                            <ul class="sub">
                                <li>
                                    <a th:href="@{/member/memberList}">회원관리</a>
                                </li>
                                <li>
                                    <a th:href="@{/board/adminNoticeList}">공지사항관리</a>
                                </li>
                                <li>
                                    <a th:href="@{/board/adminBoardList}">게시판관리</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</html>