<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>KICKOFF</title>
    <link rel="stylesheet" th:href="@{/css/board/BoardInsert.css}">
</head>

<body>
    <div th:replace="~{fragment/common/adminHeader :: adminHeaderFragment}"></div>
    <div id="wrap">
        <div th:replace="~{fragment/common/leftMenu :: leftMenuFragment}"></div>
        <div class="right-menu">
            <h1>게시글작성</h1>
            <div class="right-con">
                <div class="boardInsert">
                    <h2>게시글추가</h2>
                    <form th:action="@{/board/boardInsert}" method="post"
                          th:object="${boardDto}" enctype="multipart/form-data">
                        <ul>
                            <li class="s2">
                                <label th:for="boardFile">파일첨부</label> <br>
                                <input type="file" name="boardFile">
                            </li>
                            <li class="s2">
                                <label th:for="boardTitle">제목</label>
                                <input type="text" th:field="*{boardTitle}" placeholder="제목을 입력하세요">
                                <p th:if="${#fields.hasErrors('boardTitle')}" th:errorclass="error" th:errors="*{boardTitle}"></p>
                            </li>
                            <li class="s2">
                                <label th:for="boardContent">내용</label>
                            </li>
                            <textarea name="boardContent" id="boardContent" cols="100" rows="30" style="overflow-y: auto;"></textarea>
                            <p th:if="${#fields.hasErrors('boardContent')}" th:errorclass="error"
                               th:errors="*{boardContent}"></p>
                            <li class="s3">
                                <input type="submit" value="게시글작성" class="s3sub">
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>