<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>KICKOFF</title>
    <link rel="stylesheet" th:href="@{/css/member/adminMemberDetail.css}">
</head>

<body>
    <div th:replace="~{fragment/common/adminHeader :: adminHeaderFragment}"></div>
    <div id="wrap">
        <div th:replace="~{fragment/common/leftMenu :: leftMenuFragment}"></div>
        <div class="right-menu">
            <div class="con">
                <h2>회원상세</h2>
                <div class="right-con">
                    <div class="adminMemberDetail">
                        <div class="con2">
                            <div class="member">
                                <div class="img">
                                    <span th:if="${memberDto.mAttach==1}">
                                        <img th:src="@{|/upload/${memberDto.saveName}|}" style="width: 300px; height: 300px; background: no-repeat 50%/cover;" alt="">
                                    </span>
                                    <span th:unless="${memberDto.mAttach==1}">
                                        <img src="https://via.placeholder.com/300" alt="">
                                    </span>
                                </div>
                                <div class="info">
                                    <ul>
                                        <li>
                                            <label th:for="mId">No</label>
                                            <span class="detail" th:text="${memberDto.mId}"></span>
                                        </li>
                                        <li>
                                            <label th:for="mCreate">Create</label>
                                            <span class="detail" th:text="${#temporals.format(memberDto.mCreate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                        </li>
                                        <li>
                                            <label th:for="mEmail">Email</label>
                                            <span class="detail" th:text="${memberDto.mEmail}"></span>
                                        </li>
                                        <li>
                                            <label th:for="mName">Name</label>
                                            <span class="detail" th:text="${memberDto.mName}"></span>
                                        </li>
                                        <li>
                                            <label th:for="mTel">Tel</label>
                                            <span class="detail" th:text="${memberDto.mTel}"></span>
                                        </li>
                                        <li>
                                            <label th:for="mZipcode">Address</label>
                                            <div class="address">
                                                <span th:text="${memberDto.mZipcode}"></span>
                                                <label th:for="mAddr1" hidden></label>
                                                <span th:text="${memberDto.mAddr1}"></span>
                                                <label th:for="mAddr2" hidden></label>
                                                <span th:text="${memberDto.mAddr2}"></span>
                                            </div>
                                            
                                        </li>
                                        <li>
                                            <label th:for="mRole">Role</label>
                                            <span class="detail" th:text="${memberDto.mRole}"></span>
                                        </li>
                                        <li>
                                            <label th:for="mDept">Dept</label>
                                            <span class="detail" th:text="${memberDto.mDept}"></span>
                                        </li>
                                        <li>
                                            <label th:for="mPosition">Position</label>
                                            <span class="detail" th:text="${memberDto.mPosition}"></span>
                                        </li>
                                        <li>
                                            <label th:for="mIntro">Intro</label>
                                            <span class="detail" th:text="${memberDto.mIntro}"></span>
                                        </li>
                                        <li>
                                            <button><a th:href="@{|/member/adminMemberUpdate/${memberDto.mId}|}">회원수정</a></button>
                                            <button><a th:href="@{/member/memberList}">회원목록</a></button>
                                            <button><a th:href="@{|/member/adminMemberDelete/${memberDto.mId}|}">회원삭제</a></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>