<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/calendar/attend/myAttendDetail.css}">

</head>
<body>
<div th:replace="~{calendar/common/header :: headerFragment}"></div>

<div id="wrap">

    <div th:replace="~{calendar/common/leftMenu :: leftMenuFragment}"></div>

<div class="right-menu">

  <div class="right-con">

    <div class="MyAttendance">

      <table border="1" class="listTable">
        <tr class="tHeader">

          <th>근태아이디</th>
          <th>출근시간</th>
          <th>퇴근시간</th>

        </tr>
        <tr th:each="attendDto:${attendDto}" class="tBody">
            <td th:text="${attendDto.attendId}"></td>
            <td th:text="${#temporals.format(attendDto.attendStart, 'yyyy-MM-dd HH:mm:ss')}" ></td>
            <td th:text="${#temporals.format(attendDto.attendEnd, 'yyyy-MM-dd HH:mm:ss')}" ></td>
        </tr>

      </table>

    </div>

  </div>

</div>
</div>

</body>
</html>