<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KICKOFF</title>
    <link rel="stylesheet" th:href="@{/css/calendar/attend/myAttendDetail.css}">

</head>
<body>
<div th:replace="~{fragment/common/adminHeader :: adminHeaderFragment}"></div>
<div id="wrap">
    <div th:replace="~{fragment/common/leftMenu :: leftMenuFragment}"></div>

<div class="right-menu">
    <div class="con">
        <h2>출석 관리</h2>
  <div class="right-con">
      <div class="notice">
          <h2>상세 보기</h2>
    <div class="con2">

      <table border="1" class="listTable">
        <tr class="tHeader">

          <th>내 아이디</th>
          <th>출근시간</th>
          <th>퇴근시간</th>
          <th th:if="${attendDto.attendEnd}==null">퇴근 수정</th>
        </tr>
        <tr th:each="attendDto:${attendDto}" class="tBody">
          <form th:action="@{/attend/attendUpdate}" method="post" th:object="${attendDto}">
            <input type="text" id="attendId" name="attendId" th:value="${attendDto.attendId}" hidden="hidden">
            <td th:text="${attendDto.email}"></td>
            <td th:text="${#temporals.format(attendDto.attendStart, 'yyyy-MM-dd HH:mm:ss')}" ></td>
            <td th:if="${attendDto.attendEnd}==null">퇴근을 찍지 않았습니다</td>
            <td th:unless="${attendDto.attendEnd}==null" th:text="${#temporals.format(attendDto.attendEnd, 'yyyy-MM-dd HH:mm:ss')}" ></td>
            <td th:if="${attendDto.attendEnd}==null"><input type="submit" value="관리자 퇴근 시간 변경"></td>
          </form>
        </tr>

      </table>

    </div>

  </div>

</div>
</div>
</div>
</body>
</html>