@import url(../common/reset.css);
@import url(../common/adminHeader.css);
@import url(../common/leftMenu.css);

#wrap{
  width: 100%;
  /* border: 5px solid #000000; */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  /* gap: 5px; */
}

.right-menu{
  flex: 1;
  min-height: 120vh;
  box-sizing: border-box;
  background-color: #ffffff;
  border-top: 1px solid #000000;
  /* border: 1px solid #ffff00; */
  padding: 30px;
  padding-left: 330px;
}
.right-menu h1{
  padding-bottom: 35px;
  background-color: #000000;
  color: #ffffff;
  font-size: 25px;
  padding: 5px;
  /* border: 1px solid #000000; */
}
.right-menu .right-con{
  /* border: 1px solid purple; */
  height: 800px;
  padding: 100px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 400px;
  grid-auto-rows: minmax(0, 400px);
  gap: 20px;
}

.right-menu .right-con .memberAll{
  /* background-color: #ff0000; */
  /* border: 1px solid #fff000; */
  box-shadow: 1px 1px 1px 1px;
}

.right-menu .right-con .memberAll table{
  width: 100%;
  /* border-top: #028af8 2px solid; */
}

.right-menu .right-con .memberAll table tr{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 1px solid #028af8; */
}


.right-menu .right-con .boardAll{
  box-shadow: 1px 1px 1px 1px;
}

.right-menu .right-con .boardAll table{
  width: 100%;
  /* border-top: #028af8 2px solid; */
}

.right-menu .right-con .boardAll table tr{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 1px solid #028af8; */
}
.right-menu .right-con .noticeAll{
  box-shadow: 1px 1px 1px 1px;
}

.right-menu .right-con .noticeAll table{
  width: 100%;
  /* border-top: #028af8 2px solid; */
}

.right-menu .right-con .noticeAll table tr{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 1px solid #028af8; */
}




