@import url(/css/common/reset.css);
@import url(/css/common/adminHeader.css);
@import url(/css/common/leftMenu.css);

#wrap{
  width: 100%;
  /* border: 5px solid #000000; */
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* gap: 5px; */
}

.right-menu{
  flex: 1;
  height: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  /* border-top: 1px solid #000000; */
  /* border: 1px solid #ffff00; */
  padding: 30px;
  padding-left: 330px;
}

.right-menu .con{
  box-shadow: 5px 5px 5px 1px grey;
}

.right-menu .con .right-con{
  /* border: 1px solid purple; */
  height: auto;
  padding: 30px;
}

.right-menu .con .right-con .con-box{
  display: flex;
  justify-content: space-between;
}

.right-menu .con .right-con .con2{
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-menu .con .right-con .con2 table{
  width: 100%;
  height: 100%;
  text-align: center;
}

table th{
  background-color: #a7c2e54d;
  font-weight: bold;
}


h2{
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  /* border: 1px solid #000000; */
}

.right-menu .con .right-con .con-box .team-schedule{
  /* width: 800px; */
  width: 53%;
}

.right-menu .con .right-con .con-box .team-schedule .con2{
  height: 650px;
}

.right-menu .con .right-con .con-box .board{
  /* width: 690px; */
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-menu .con .right-con .con-box .board .con2{
  height: 300px;
}

.board .con2 table{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.board .con2 table tr{
  border-bottom: 1px solid !important;
}

.board .con2 table th{
  padding: 5px 0;
}

.board .con2 table td{
  padding: 10px 0;
}

/* fullCalender */

#content {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto
}

h1.title {
  display: none;
  /* text-align: center;
  background-color: #3788d8;
  color: #ffffff;
  padding: 10px 0; */
}

#calendar {
  width: 100%;
  height: 100%;
}

main{
    width: 100%;
    height: 100%;
}

main .content{
    width: 100%;
    height: 100%;
}

table.fc-col-header {
    width: 100% !important;
}

table.fc-scrollgrid-sync-table {
    width: 100% !important;
    height: 100% !important;
}

.fc-view-harness.fc-view-harness-active{
    height: 419px !important;
}

.fc-toolbar-chunk:nth-child(3){
    display: none;
}

.fc-scroller{
    overflow: unset !important;
}

.fc-scroller.fc-scroller-liquid-absolute{
    overflow: unset !important;
}

.fc-daygrid-body.fc-daygrid-body-unbalanced {
    width: 100% !important;
}

h2#fc-dom-1{
  background-color: unset;
  color: unset;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5em !important;
}

/* 유튜브 api 영역 */
.youtube {
  padding-top: 10px;
  box-sizing: border-box;
}

.youtube-con{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid;
    box-sizing: border-box;
}

