<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KICKOFF</title>
    <script th:src="@{/js/account/accountDetail.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/account/accountDetail.css}">
</head>

<body>
    <div th:replace="~{fragment/common/adminHeader :: adminHeaderFragment}"></div>
    <div id="wrap" th:object="${accountDto}">
        <div th:replace="~{fragment/common/leftMenu :: leftMenuFragment}"></div>
        <div class="right-menu">
            <div class="container"><!-- container -->
                <h2>상세보기</h2>
                <div class="right-con">
                    <div class="account-list">
                        <!-- 수정,삭제 (작성자만 가능) -->
                        <div class="btnZone" th:if="${accountDto.mId}==${memberDto.mId}">
                            <a th:href="@{|/account/update/${acId}|}" class="updateBtn">수정</a>
                            <form th:action="@{|/account/delete/${acId}|}" method="post" id="deleteForm">
                                <input type="hidden" th:field="*{acId}" th:value="${acId}">
                                <input type="submit" value="삭제" class="deleteBtn">
                            </form>
                        </div> <!-- btnZone 끝 -->

                        <div class="time">
                            <li>
                                <th:block th:if="${accountDto.acUpdate}==null">
                                    <span th:text="${#temporals.format(accountDto.acCreate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                </th:block>

                                <th:block th:unless="${accountDto.acUpdate}==null">
                                    <span th:text="${#temporals.format(accountDto.acUpdate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                </th:block>
                            </li>
                        </div><!-- time 끝 -->

                        <div class="title-zone">
                            <li>
                                <input type="text" th:field="*{acTitle}" readonly>
                            </li>

                            <li>
                                <div class="line"></div>
                            </li>

                            <li>
                                <h4>잔여금</h4>
                                <input type="text" th:field="*{acSurplus}" placeholder="잔여금" readonly>
                            </li>
                        </div><!-- title-zone 끝 -->

                        <li class="li1">
                            <span class="title-sub">◆ 수입 지출 내역</span>
                        </li>

                        <div class="income-expend">
                            <table border="1">
                                <tr>
                                    <th width="60%">내역</th>
                                    <th width="20%">수입</th>
                                    <th width="20%">지출</th>
                                </tr>

                                <tr>
                                    <td width="60%" th:text="${accountDto.acContent}"></td>
                                    <td width="20%" th:text="${accountDto.acIncome}"></td>
                                    <td width="20%" th:text="${accountDto.acExpend}"></td>
                                </tr>
                            </table>
                        </div><!-- inncome-expend 끝 -->

                        <li class="li1">
                            <span class="title-sub">◆ 결산 내역</span>
                        </li>

                        <div class="income-expend-sum">
                            <li>
                                <h5>수입 총액</h5>
                                <input type="text" readonly th:value="${accountDto.acTotalIncome}">
                            </li>

                            <li>
                                <div class="line"></div>
                            </li>

                            <li>
                                <h5>지출 총액</h5>
                                <input type="text" readonly th:value="${accountDto.acTotalExpend}">
                            </li>
                        </div><!-- income-expend-sum 끝 -->

                        <div class="sum">
                            <li>
                                <h5>총 잔액</h5>
                                <input type="text" readonly th:value="${accountDto.acTotalPay}">
                            </li>
                        </div><!-- sum 끝 -->

                        <div class="list">
                            <a th:href="@{/account/list}">목록</a>
                        </div>

                    </div><!-- account-list끝 -->
                </div><!-- right-con끝 -->
            </div><!-- container끝 -->
        </div><!-- right-menu끝 -->
    </div><!-- wrap끝 -->
</body>

</html>