<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KICKOFF</title>
    <link rel="stylesheet" th:href="@{/css/calendar/memberSchedule/memberScheduleList.css}">

</head>
<body>
<div th:replace="~{fragment/common/adminHeader :: adminHeaderFragment}"></div>
<div id="wrap">
    <div th:replace="~{fragment/common/leftMenu :: leftMenuFragment}"></div>

<div class="right-menu">
    <div class="con">
        <h2>My Personal Schedule</h2>

    <div class="right-con">
        <div class="notice">
            <h2>회원 개인 일정</h2>
        <div class="con2">

            <table>
                <thead>
<!--                 변경가능 -->
<!--                <tr class="search">-->
<!--                    <th colspan="5">-->
<!--                        <form th:action="@{/memberSchedule/myScheduleList}" method="get">-->
<!--                            <input type="text" name="search" id="search">-->
<!--                            <input type="submit" value="검색">-->
<!--                        </form>-->
<!--                    </th>-->
<!--                </tr>-->
                <tr class="title">
<!--                    <th colspan="3">회원목록</th>-->
                </tr>
                <!-- 변경가능 -->
                <tr>
                    <th>스케줄 아이디</th>
                    <th>일정 내용</th>
                    <!--              <th>비빌번호</th>-->
                    <th>출석 날짜</th>
                    <th>퇴근 날짜</th>
                    <th>완료 여부</th>
                    <th>회원 아이디</th>
                    <th>내용 확인</th>

                </tr>
                </thead>
                <tbody>
                <!--memberList th.each-->
                <tr th:each="memberScheduleDto: ${memberScheduleDtoPage}">
                    <form th:action="@{/memberSchedule/myScheduleViewDetail}" method="post" th:object="${memberScheduleDto}">
                        <input type="text" id="scheduleId" name="scheduleId" th:value="${memberScheduleDto.scheduleId}" hidden="hidden">
                    <td th:text="${memberScheduleDto.scheduleId}"></td>
                    <td th:text="${memberScheduleDto.scheduleBoard}"></td>
                    <td th:text="${#temporals.format(memberScheduleDto.scheduleStart, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#temporals.format(memberScheduleDto.scheduleEnd, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${memberScheduleDto.scheduleDone}"></td>
                    <td th:text="${memberScheduleDto.mId}"></td>
                        <td><input type="submit" value="자세히보기"></td>
                    <!--<td><a th:href="@{/member/detail(id=${member.id}}">보기</a></td>-->
                    </form>
                </tr>
                </tbody>
            </table>

            <div class="paging">
                <ul>
                    <li>
                        <span th:if="${1 == memberScheduleDtoPage.pageable.pageNumber+1}"  style="color:#a2e413">START</span>
                        <a th:unless="${1 == memberScheduleDtoPage.pageable.pageNumber+1}"
                           style="color:#e61d8b" th:href="@{/memberSchedule/myScheduleList(page=0)}">처음</a>
                    </li>

                    <li>
                        <span th:if="${1 == memberScheduleDtoPage.pageable.pageNumber+1}"  style="color:#a2e413">이전</span>
                        <a th:unless="${1 == memberScheduleDtoPage.pageable.pageNumber+1}"   style="color:#e61d8b"
                           th:href="@{/memberSchedule/myScheduleList(page=${ memberScheduleDtoPage.pageable.pageNumber - 1})}">이전</a>
                    </li>


                    <!-- 페이지 번호 -->
                    <li th:each="i: ${#numbers.sequence(startPage, endPage)}">
                        <span th:if="${i == memberScheduleDtoPage.pageable.pageNumber+1}"  style="color:#a2e413" th:text="${i}"></span>
                        <a th:unless="${i == memberScheduleDtoPage.pageable.pageNumber+1}" style="color:#e61d8b"
                           th:href="@{/memberSchedule/myScheduleList(page=${ i - 1})}" th:text="${i}"></a>
                    </li>
                    <li>
                        <span th:if="${memberScheduleDtoPage.totalPages == memberScheduleDtoPage.pageable.pageNumber+1}"  style="color:#a2e413">다음</span>
                        <a th:unless="${memberScheduleDtoPage.totalPages == memberScheduleDtoPage.pageable.pageNumber+1}"  style="color:#e61d8b"
                           th:href="@{/memberSchedule/myScheduleList(page=${ memberScheduleDtoPage.pageable.pageNumber + 1})}">다음</a>
                    </li>

                    <li>
                        <span th:if="${memberScheduleDtoPage.totalPages == memberScheduleDtoPage.pageable.pageNumber+1}"  style="color:#a2e413">END</span>
                        <a th:unless="${memberScheduleDtoPage.totalPages == memberScheduleDtoPage.pageable.pageNumber+1}"
                           style="color:#e61d8b" th:href="@{/memberSchedule/myScheduleList(page=${memberScheduleDtoPage.totalPages-1})}">END</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
</div>
</div>
</div>
</body>
</html>