<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
    <div th:replace="~{fragment/common/adminHeader :: adminHeaderFragment}"></div>
    <div id="wrap">
        <div th:replace="~{fragment/common/leftMenu :: leftMenuFragment}"></div>
        <div class="right-menu">
            <div class="con">
                <h2>index</h2>
                <div class="right-con">
                    <div class="con-box">
                        <!-- 공식일정 -->
                        <div class="team-schedule">
                            <h2>공식일정</h2>
                            <div class="con2">
                                
                            </div>
                            
                        </div>
                        <!-- 공지사항, 커뮤니티 게시판 -->
                        <div class="board">
                            <div class="notice">
                                <h2>공지사항</h2>
                                <div class="con2">
                                    
                                </div>
                            </div>
                            <div class="community">
                                <h2>게시판</h2>
                                <div class="con2">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>