<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
    <div th:replace="~{fragment/common/adminHeader :: adminHeaderFragment}"></div>
    <div id="wrap">
        <div th:replace="~{fragment/common/leftMenu :: leftMenuFragment}"></div>
        <div class="right-menu">
            <div class="con">
                <h2>index</h2>
                <div class="right-con">
                    <div class="team-schedule">
                        <h2>공식일정</h2>
                        <div class="con2">
                            
                        </div>
                        
                    </div>
                    <div class="notice">
                        <h2>공지사항</h2>
                        <div class="con2">
                            <table>
                                <tr>
                                    <th>공지사항번호</th>
                                    <th>제목</th>
                                    <th>작성자번호</th>
                                    <th>작성시간</th>
                                    <th>상세</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>title3</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td><a href="#">상세보기</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="board">
                        <h2>게시판</h2>
                        <div class="con2">
                            <table>
                                <tr>
                                    <th>게시글번호</th>
                                    <th>게시글제목</th>
                                    <th>작성자번호</th>
                                    <th>작성시간</th>
                                    <th>상세</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>title2</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td><a href="#">상세보기</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>