<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>

<body>
    <div th:replace="~{fragment/common/adminHeader :: adminHeaderFragment}"></div>
    <div id="wrap">
        <div th:replace="~{fragment/common/leftMenu :: leftMenuFragment}"></div>
        <div class="right-menu">
            <div class="con">
                <h2>index</h2>
                <div class="right-con">
                    <div class="con-box">
                        <!-- 공식일정 -->
                        <div class="team-schedule">
                            <h2>공식일정</h2>
                            <div class="con2">
                                
                            </div>
                            
                        </div>
                        <!-- 공지사항, 커뮤니티 게시판 -->
                        <div class="board">
                            <div class="notice">
                                <h2>공지사항</h2>
                                <a th:href="@{notice/noticeList}">
                                    <div class="con2">
                                        <th:block th:if="${noticeList.size() == 0}">
                                            <h1 style="color: red;">작성된 게시물이 없습니다!</h1>
                                        </th:block>
                                        <th:block th:unless="${noticeList.size() == 0}">
                                            <table>
                                                <tr>
                                                    <th>No</th>
                                                    <th>제목</th>
                                                    <th>내용</th>
                                                    <th>조회수</th>
                                                    <th>작성일</th>
                                                </tr>
                                                <th:block th:each="notice : ${noticeList}">
                                                    <tr>
                                                        <td th:text="${notice.noticeId}"></td>
                                                        <td th:text="${notice.noticeTitle}"></td>
                                                        <td th:text="${notice.noticeContent}"></td>
                                                        <td th:text="${notice.noticeHit}"></td>
                                                        <td th:text="${#temporals.format(notice.noticeCreate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                                    </tr>
                                                </th:block>
                                            </table>
                                        </th:block>
                                    </div>
                                </a>
                            </div>
                            <div class="community">
                                <h2>게시판</h2>
                                <a th:href="@{/board/boardList}">
                                    <div class="con2">
                                        <th:block th:if="${boardList.size() == 0}">
                                            <h1 style="color: red;">작성된 게시물이 없습니다!</h1>
                                        </th:block>
                                        <th:block th:unless="${boardList.size() == 0}">
                                            <table>
                                                <tr>
                                                    <th>No</th>
                                                    <th>제목</th>
                                                    <th>내용</th>
                                                    <th>조회수</th>
                                                    <th>작성일</th>
                                                </tr>
                                                <th:block th:each="board : ${boardList}">
                                                    <tr>
                                                        <td th:text="${board.boardId}"></td>
                                                        <td th:text="${board.boardTitle}"></td>
                                                        <td th:text="${board.boardContent}"></td>
                                                        <td th:text="${board.boardHit}"></td>
                                                        <td th:text="${#temporals.format(board.boardCreate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                                    </tr>
                                                </th:block>
                                            </table>
                                        </th:block>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>