<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>join</title>
    <script th:src="@{/js/telCheck.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/join.css}">
</head>

<body>
    <div class="wrap">
        <div class="join">
            <h1>Sign Up</h1>
            <form th:action="joinOk" method="post" th:object="${memberDto}" enctype="multipart/form-data">
                <div class="join-form">
                    <ul>
                        <li class="s1">
                            <h4>이메일</h4>
                            <input type="text" th:field="*{mEmail}" placeholder="example@gmail.com">
                            <p th:if="${#fields.hasErrors('mEmail')}" th:errorclass="error" th:errors="*{mEmail}"></p>
                        </li>
                        <li class="s1">
                            <h4>비밀번호</h4>
                            <input type="password" th:field="*{mPw}" placeholder="비밀번호를 입력해주세요">
                            <p th:if="${#fields.hasErrors('mPw')}" th:errorclass="error" th:errors="*{mPw}"></p>
                        </li>
                        <li class="s1">
                            <h4>이름</h4>
                            <input type="text" th:field="*{mName}">
                            <p th:if="${#fields.hasErrors('mName')}" th:errorclass="error" th:errors="*{mName}"></p>
                        </li>
                        <li class="s1">
                            <h4>연락처</h4>
                            <input type="text" th:field="*{mTel}" maxlength="13" oninput="autoHyphen(this)">
                            <p th:if="${#fields.hasErrors('mTel')}" th:errorclass="error" th:errors="*{mTel}"></p>
                        </li>
                        <li class="s1">
                            <h4>주소</h4>
                            <input type="text" th:field="*{mZipcode}">
                            <input type="text" th:field="*{mAddr1}">
                            <!-- 상세주소(선택) -->
                            <input type="text" th:field="*{mAddr2}">
                        </li>
                        <li class="s1">
                            <h4>희망포지션</h4>
                            <select th:field="*{mPosition}">
                                <option value="" selected>포지션 선택</option>
                                <option value="MULTI">상관없음</option>
                                <option value="ST">ST</option>
                                <option value="MF">MF</option>
                                <option value="DF">DF</option>
                                <option value="GK">GK</option>
                            </select>
                        </li>
                        <li class="s1">
                            <h4>자기소개</h4>
                            <textarea th:field="*{mIntro}" cols="30" rows="10" style="resize:none;"></textarea>
                            <!-- <input type="memo" name="mIntro" > -->
                        </li>
                        <li class="s1">
                            <h4>프로필 이미지</h4>
                            <input type="file" th:field="*{profileImg}">
                        </li>
                        <li class="s2">
                            <input type="submit" value="회원가입">
                            <button><a th:href="@{/login}">로그인</a></button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</body>

</html>