@import url(../common/reset.css);
@import url(../common/adminHeader.css);
@import url(../common/leftMenu.css);

.container{
  width: 100%;
  /* border: 5px solid #000000; */
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.container .approvalUpdate h2{
  display: flex;
  justify-content: left;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
}

.container .approvalUpdate{
  flex: 1;
  height: auto;
  box-sizing: border-box;
  background-color: #ffffff;

  padding: 30px;
  padding-left: 330px;

  color: #525252;
}

.container .approvalUpdate .con{
  box-shadow: 5px 5px 5px 1px grey;
}

.container .approvalUpdate .con .con2{
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.container .approvalUpdate .con .con2 .con3{
  border: 1px solid #4d4d4d3a;
}

.container .approvalUpdate ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .approvalUpdate ul li{
  padding: 10px 10px;
  /* border-bottom: 1px solid #222; */
}

.container .approvalUpdate ul li label{
  padding: 10px;
  gap: 10px;

  flex: 1;

  font-size: 18px;
  height: 33px;

  text-align: center;
}

.container .approvalUpdate ul li input{
  padding: 5px 10px;

  flex: 3;

  box-sizing: border-box;
  border: 1px solid #525252;
}

.container .approvalUpdate ul li.submit{

  display: flex;
  justify-content: center;
  text-align: center;
}

.container .approvalUpdate ul li.submit input{
  flex: 1;
  background-color: black;
  color: #ffffff;

  text-align: center;

  padding: 15px;
  margin: 5px;
}

.container .approvalUpdate ul li.content textarea{
  padding: 10px;
  margin: 10px;
}

.container .approvalUpdate ul li.submit a{
  flex: 1;
  background-color: black;
  color: #ffffff;

  text-align: center;

  padding: 10px;
  margin: 5px;
}