<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KICKOFF</title>
    <link rel="stylesheet" th:href="@{/css/calendar/teamSchedule/officialList.css}">

</head>
<body>
<div th:replace="~{fragment/common/adminHeader :: adminHeaderFragment}"></div>
<div id="wrap">
    <div th:replace="~{fragment/common/leftMenu :: leftMenuFragment}"></div>

    <div class="right-menu">
        <div class="con">
            <h2>My Team Schedule</h2>
        <div class="right-con">
            <div class="notice">
                <h2>일정 목록</h2>
                <div class="con2">
<a href="/teamSchedule/teamSchedule"  class="TeamSchedule">팀 일정 달력</a><br>

<a href="/teamSchedule/teamSchedulePlus"  class="TeamSchedule">팀 일정 추가</a><br>
<a href="/teamSchedule/teamScheduleView"  class="TeamSchedule">팀 일정 조회</a><br>
<a href="/teamSchedule/myScheduleList"  class="TeamSchedule">어드민 팀 전체 일정 관리 (권한 admin일떄 보이기)</a>

        </div>
    </div>
        </div>
        </div>

</div>
</div>
</body>
</html>