<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KICKOFF</title>
    <link rel="stylesheet" th:href="@{/css/calendar/teamSchedule/teamScheduleCheck.css}">
</head>
<body>
<div th:replace="~{fragment/common/adminHeader :: adminHeaderFragment}"></div>
<div id="wrap">
    <div th:replace="~{fragment/common/leftMenu :: leftMenuFragment}"></div>

<div class="right-menu">
    <div class="con">
        <h2>My team Schedule</h2>

    <div class="right-con">
        <div class="notice">
            <h2>팀 일정</h2>
        <div class="con2">

            <table border="1" class="listTable">
                <tr class="tHeader">

                    <th>스케줄아이디</th>
                    <th>스케줄내용</th>
                    <th>일정시작</th>
                    <th>일정끝</th>
                    <th>완료여부</th>
                    <th>나의아이디</th>
                    <th>일정 변경</th>
                    <th>스케줄삭제</th>

                </tr>
                <tr th:each="teamScheduleDto:${teamScheduleDtoList}" class="tBody">
                    <form th:action="@{/teamSchedule/teamScheduleChange}" method="post" th:object="${teamScheduleDto}">
                        <input type="text" id="scheduleId" name="scheduleId" th:value="${teamScheduleDto.scheduleId}" hidden="hidden">
                        <input type="text" id="mId" name="mId" th:value="${teamScheduleDto.mId}" hidden="hidden">
                        <td th:text="${teamScheduleDto.scheduleId}"></td>
                        <td th:text="${teamScheduleDto.content}"></td>
                        <td th:text="${#temporals.format(teamScheduleDto.start, 'yyyy-MM-dd HH:mm:ss')}" ></td>
                        <td th:text="${#temporals.format(teamScheduleDto.end, 'yyyy-MM-dd HH:mm:ss')}" ></td>
                        <td th:text="${teamScheduleDto.scheduleDone}"></td>
                        <td th:text="${teamScheduleDto.mId}"></td>
                        <td><input type="submit" value="일정 변경"></td>
                        <td><button><a th:href="@{|/teamSchedule/deleteTeamSchedule/${teamScheduleDto.scheduleId}|}">일정 삭제</a></button></td>
                    </form>
                </tr>

            </table>

        </div>

    </div>

</div>
</div>
</div>



</div>
</body>
</html>