@import url(/css/common/reset.css);
@import url(/css/common/adminHeader.css);
@import url(/css/common/leftMenu.css);

#wrap{
  width: 100%;
  /* border: 5px solid #000000; */
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* gap: 5px; */
}

.right-menu{
  flex: 1;
  height: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  /* border-top: 1px solid #000000; */
  /* border: 1px solid #ffff00; */
  padding: 30px;
  padding-left: 330px;
}

.right-menu .con{
  box-shadow: 5px 5px 5px 1px grey;
}

.right-menu .con h2{
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
}

.right-menu .right-con{
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.right-menu .right-con .con2{
  width: auto;
  padding: 10px;
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-menu .right-con .con2 .member{
  width: auto;
  height: auto;
  border: 1px solid #b9b9b9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 1px grey;
}

.right-menu .right-con .con2 .member .img span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-menu .right-con .con2 .member .info{
  border: 1px solid #b9b9b9;
  padding: 10px;
  box-sizing: border-box;

}

.right-menu .right-con .con2 .member .info>ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.right-menu .right-con .con2 .member .info>ul>li{
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.right-menu .right-con .con2 .member .info>ul>li label{
  width: 120px;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
}

.right-menu .right-con .con2 .member .info>ul>li input{
  width: 250px;
  text-align: center;
}

.address{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn{
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.error{
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.values{
  display: flex;
  flex-direction: column;
}

/* 주소관련 */

.spanAddr{
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addr{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.zipcode{
  display: flex;
  gap: 5px;

}

.zipcode{
  width: 155px !important;
}

.zipBtn{
  width: 90px !important;
}

/* 자기소개 */

.spanIntro{
  width: 31%;
  height: 152px;
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

