@import url(/css/common/reset.css);
@import url(/css/common/adminHeader.css);
@import url(/css/common/leftMenu.css);

#wrap{
  width: 100%;
  /* border: 5px solid #000000; */
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* gap: 5px; */
}

.right-menu{
  flex: 1;
  height: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  /* border-top: 1px solid #000000; */
  /* border: 1px solid #ffff00; */
  padding: 30px;
  padding-left: 330px;
}

.right-menu .con{
  box-shadow: 5px 5px 5px 1px grey;
}

.right-menu .con h2{
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
}

.right-menu .right-con{
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.right-menu .right-con .con2{
  width: auto;
  padding: 10px;
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-menu .right-con .con2 .member{
  width: auto;
  height: auto;
  border: 1px solid #b9b9b9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 1px grey;
}

.right-menu .right-con .con2 .member .img span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-menu .right-con .con2 .member .info{
  border: 1px solid #b9b9b9;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 1px grey;

}

.right-menu .right-con .con2 .member .info>ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.right-menu .right-con .con2 .member .info>ul>li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.right-menu .right-con .con2 .member .info>ul>li label{
  width: 120px;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
}

.right-menu .right-con .con2 .member .info>ul>li .detail{
  width: 250px;
  border: 1px solid black;
  text-align: center;
}

.right-menu .right-con .con2 .member .info>ul>li .address{
  width: 250px;
  border: 1px solid black;
  text-align: center;
}



